language: elixir
elixir: '1.5'
otp_release: '20.0'
services:
  - postgresql
node_js:
  - '6'

# skip Travis CI's install step
# because it executes `mix local.rebar --force`
# but that requires that our secrets config file exists
# which is the sole reason we wrote a Makefile to begin with
install: true
cache:
  directories:
    - node_modules
    - _build
    - deps
    - _mix_ci
before_script:
  - psql -c "create role sealas with login password 'sealas';" -U postgres
  - psql -c 'create database sealas with owner sealas;' -U postgres
  - yarn
  - make mix-tools
  - make mix-prepare

script:
  - yarn run mdlint
  - make mix-test

after_script:
  - MIX_ENV=docs mix deps.get
  - MIX_ENV=docs mix inch.report
