language: elixir
elixir: '1.5'
otp_release: '20.0'
services:
  - postgresql
node_js:
  - '6'

cache:
  - yarn
before_script:
  - psql -c "create role sealas with login password 'sealas';" -U postgres
  - psql -c 'create database sealas with owner sealas;' -U postgres
  - yarn
  - mix deps.get
  - mix local.hex --force
  - mix local.rebar --force

script:
  - yarn run mdlint
  - mix test
