image: Visual Studio 2017
services:
  - postgresql96

cache:
  - C:\ProgramData\chocolatey
  - C:\tools\mingw64
  - C:\Program Files\erl9.0
  - _build
  - deps
  - node_modules
init:
  - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"
  - SET PATH=C:\ProgramData\chocolatey\lib\Elixir\bin;C:\tools\mingw64\bin;%PATH%
  - SET PATH=C:\Program Files\PostgreSQL\9.6\bin\;%PATH%
  - SET PGUSER=postgres
  - SET PGPASSWORD=Password12!

install:
  - cinst elixir
  - cinst mingw
  - yarn
  - mix local.hex --force
  - mix local.rebar --force

build_script:
  - mix deps.get
  - mix compile

before_test:
  - psql -c "create role sealas with login password 'sealas';" -U postgres
  - psql -c "create database sealas with owner sealas;" -U postgres

test_script:
  - yarn run mdlint
  - mix compile
  - mix test
