image: Visual Studio 2015
services:
  - postgresql96

cache:
  - C:\ProgramData\chocolatey
  - C:\Program Files\erl9.0
  - _build
  - deps
  - node_modules
  - _mix_ci
init:
  - call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin\amd64\vcvars64.bat"
  - SET PATH=C:\ProgramData\chocolatey\lib\Elixir\bin;%PATH%
  - SET PATH=C:\Program Files\PostgreSQL\9.6\bin\;%PATH%
  - SET PGUSER=postgres
  - SET PGPASSWORD=Password12!
install:
  - cinst erlang --version 20.0
  - cinst elixir
  - yarn
  - nmake mix-tools

build_script:
  - nmake mix-prepare

before_test:
  - psql -c "create role sealas with login password 'sealas';" -U postgres
  - psql -c "create database sealas with owner sealas;" -U postgres

test_script:
  - yarn run mdlint
  - nmake mix-test
  - name mix-dialyzer
