image: Visual Studio 2015
services:
  - postgresql96

cache:
  - C:\ProgramData\chocolatey
  - C:\Program Files\erl9.0
  - _build
  - deps
  - node_modules
  - _mix_ci
init:
  - call "C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd" /x64
  - call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" x86_amd64
  - SET PATH=C:\ProgramData\chocolatey\lib\Elixir\bin;%PATH%
  - SET PATH=C:\Program Files\PostgreSQL\9.6\bin\;%PATH%
  - SET PGUSER=postgres
  - SET PGPASSWORD=Password12!
install:
  - call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" x86_amd64
  - cinst erlang --version 20.0
  - cinst elixir
  - yarn
  - nmake mix-tools

build_script:
  - call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" x86_amd64
  - nmake mix-prepare
  - file deps\argon2_elixir\priv\argon2_nif.dll
  - file "c:\program files/erl9.0/erts-9.0/bin/erl.exe"

before_test:
  - psql -c "create role sealas with login password 'sealas';" -U postgres
  - psql -c "create database sealas with owner sealas;" -U postgres

test_script:
  - call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" x86_amd64
  - yarn run mdlint
  - file deps\argon2_elixir\priv\argon2_nif.dll
  - file "c:\program files/erl9.0/erts-9.0/bin/erl.exe"
  #- nmake mix-test
  - mix test
  - file deps\argon2_elixir\priv\argon2_nif.dll
  #- name mix-dialyzer
